*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


main{
    margin-left: 20px;
}

hr{
    margin-bottom: 15px;
}

section{
    margin: 22px 0px;
}


h1{
    text-align: center;
    text-transform:uppercase;
    background-color: hsla(192, 68%, 42%, 0.4);
    font-weight: 400px;
}

.titulo{
    color: rgb(154, 201, 84);
    margin-bottom: 7px;
}

.descricao{
    color: rgba(8, 82, 151, 0.8);
}

ul{
    margin-top:4px ;
}

li{
    margin-top: 2px;
    margin-left: 30px;
}

footer p{
    display: inline-block;
    margin-right: 10px;
}

footer p a{
    text-decoration: none;
    /* color: rgb(57, 181, 212); */
}

footer{
    margin-left: 20px;
}

h3, p, address, li{
    font-size: small;
}